# Hugo output directory
/public

# Deployment config
config/production/deployment.toml

# Hugo build lock
.hugo_build.lock

# Nix artifacts
result

# devenv artifacts
.devenv
.pre-commit-config.yaml

