# Hugo output directory
/public

# Deployment config
config/production/deployment.toml

# Hugo build lock
.hugo_build.lock

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
