order = [".jpg$", ".gif$"]

[[targets]]
name = "aws-s3"
URL = "$S3URL"
cloudFrontDistributionID = "$cloudFrontDistributionID"
# URL = "s3://alejandr0angul0.dev?region=us-east-1"
# cloudFrontDistributionID = "E2RRW3O8ZZW2WI"

[[matchers]]
#  Cache static assets for 1 year.
pattern = "^.+\\.(js|css|svg|ttf)$"
cacheControl = "max-age=31536000, no-transform, public"
gzip = true

[[matchers]]
pattern = "^.+\\.(png|jpg)$"
cacheControl = "max-age=31536000, no-transform, public"
gzip = false

[[matchers]]
pattern = "^.+\\.(html|xml|json)$"
gzip = true

