<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.min.css"
    integrity="sha512-rUsWke5ytml2uw28WnQn51rEy7/KodM+Hsa1vr2+YgaAsEvn38VFlQq/fwiYouOXZyLq/6RvDSFT0jzx/C3Oig=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/brands.min.css"
    integrity="sha512-W/zrbCncQnky/EzL+/AYwTtosvrM+YG/V6piQLSe2HuKS6cmbw89kjYkp3tWFn1dkWV7L1ruvJyKbLz73Vlgfg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  {{ $main_style := resources.Get "css/main.css" | minify }}
  {{ $highlight_style := resources.Get "css/highlight.css" | minify }}
  {{ $opensans_style := resources.Get "css/opensans.css" | minify }}
  {{ $css := slice $main_style $highlight_style $opensans_style | resources.Concat "css/style.css" | fingerprint }}
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ $css.Permalink }}"
    integrity="{{ $css.Data.Integrity }}"
  />
  {{ $title := print .Site.Title " | " .Title }}
  {{ if .IsHome }}
    {{ $title =
      .Site.Title
    }}
  {{ end }}
  <title>{{ $title }}</title>
</head>
