<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/brands.css"
    integrity="sha512-/0+jCMeks7Sm7B2Jai6K8JDYQqiwWiY73tw+G6BQkisKhUC0fqKt9Sd8noZvHPHl5rm9/cJ5hcuzzONlFvLMQQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  {{ $main_style := resources.Get "css/main.css" | minify }}
  {{ $highlight_style := resources.Get "css/highlight.css" | minify }}
  {{ $nerdfont_style := resources.Get "css/nerd-fonts-generated.css" | minify }}
  {{ $css := slice $main_style $highlight_style $nerdfont_style | resources.Concat "css/style.css" | fingerprint }}
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ $css.Permalink }}"
    integrity="{{ $css.Data.Integrity }}"
  />
  {{ $title := print .Site.Title " | " .Title }}
  {{ if .IsHome }}
    {{ $title =
      .Site.Title
    }}
  {{ end }}
  <title>{{ $title }}</title>
</head>
